<!DOCTYPE html>
<html>
<head>
    <style>
        th,td {padding: 15px;}
    </style>
 <title></title>
</head>
<body>
<table border="1" bordercolor="blue" width="850" height="300" align="center">
    <tr align="center">
        <th>시간</th>
        <th>담액 온도</th>
        <th>담액 수위</th>
        <th>이온 농도</th>
        <th>대기 온도</th>
        <th>대기 습도</th>
        <th>이산화탄소</th>
        <th>조도</th>
    </tr>
    <tr align="center">        
        <td>{{Time}}</td>
        <td>{{WaterTemp}}</td>
        <td>{{WaterLevel}}</td>
        <td>{{pH}}</td>
        <td>{{AirTemp}}</td>
        <td>{{AirHumidity}}</td>
        <td>{{AirCO2}}</td>
        <td>{{Lux}}</td>
    </tr>

</table>
</body>
</html>